// Вендорные миксины
// Миксины Бутстрапа для _media.sass (порядок именно такой)
@import "../libs/bootstrap-5.2.3/scss/functions"
@import "../libs/bootstrap-5.2.3/scss/variables"
@import "../libs/bootstrap-5.2.3/scss/mixins"
@import "_mixins/emizer" // Перевод px в em

// Кастомный импорт
@import "fonts"
@import "vars"

// Сброс стилей
h1, h2, h3, h4, h5, h6
  padding: 0
  margin: 0

p
  padding: 0
  margin: 0

a
  text-decoration: none

button
  padding: 0
  margin: 0
  border: none
  background: transparent

// Дефолтный SASS
// body // Центрирование для верстки компонентов (temp)
//   display: flex
//   align-items: center
//   justify-content: center
//   height: 100vh
//   background-color: lighten($temp, 20%)

body
  overflow-x: hidden
  background-color: $milk

::placeholder
  color: $milk

::selection
  color: $accent
  background-color: $vulcan

.visually-hidden
  display: none

body
//   position: relative
  // overflow-x: hidden
  // min-width: 320px
//   font-family: $font-general
  // font-size: 16px
//   line-height: 1.25
//   letter-spacing: 1.25px
//   color: $color-text
//   background-color: #fff
//   input, textarea
//     margin: 0
//     padding: 0
//     outline: none

// b, strong
//   font-weight: bold

// ul
//   margin: 0
//   padding: 0
//   list-style: none


// body {
// 	font-size: 16px;
// 	min-width: 320px;
// 	position: relative;
// 	line-height: 1.65;
// 	font-family: $default-font;
// 	overflow-x: hidden;
// 	color: $text;
// 	input, textarea {
// 		border: #666 1px solid;
// 		outline: none;
// 		&:focus:required:invalid {
// 			border-color: red;
// 		}
// 		&:required:valid {
// 			border-color: green;
// 		}
// 	}
// }

// .img-responsive {
// 	display: block;
// 	max-width: 100%;
// 	height: auto;
// 	&.img-width {
// 		width: 100%;
// 	}
// }

// .text-center {
// 	text-align: center;
// }

// b, strong {
// 	font-weight: bold;
// }

// Кастомный SASS
@import "_sections/report-section"
@import "media" // Всегда в конце